<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BP_VGK.VerwaltungGentechKonstrukte.Properties.Settings.BP_VGK_DatabaseConnectionString"
            connectionString="Data Source=THOMAS-PC\SQLEXPRESS;Initial Catalog=BP_VGK.Database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>